
.infobox {
    display: block;
    padding: 1.6rem 2.4rem;
    background: #f9f9f9;
    border: 0.1rem solid rgba(0,0,0,0.1);
    border-radius: 0.3rem;
    text-align: center;
}
.infobox strong {
    font-weight: 700;
    display: block;
    padding-bottom: 0.8rem;
}
.infobox span {
    font-weight: 500;
}